h2 {
    background-color: #a7a7a7;
}

a {
    color: black;
    transition: 0.5s;
}

a:hover {
    background-color: yellow;
    text-decoration: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    position: sticky;
    top: 0px;
}

.nav__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 0px;
    width: 100vw;
    height: 50px;
    background-color:rgb(216, 216, 216)
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-card {
    border: 1px solid rgb(110, 110, 110);
    border-radius: 10px;
    margin: 20px 20px;
    background-color:rgb(216, 216, 216);
}

.project-card img {
    width: 100%;
    height: 60%;
    transition: 1s;
    border-radius: 10px;
}

.project-card img:hover {
    transform: scale(1.2);
}

.code-example {
    display: flex;
}

@media (max-width: 720px) {

    .cards-container {
        grid-template-columns: auto;
    }
}